# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# build and dist folders
build/
dist/
*.egg-info/

# Django specific
media/*
!media/.gitkeep
staticfiles/
*.mo
# *.pot

# Fixtures backups
*.json

# Local database
db.sqlite3
