{% extends 'base.html' %}
{% block title %}Клиенты{% endblock %}

{% block content %}
<h1>Клиенты</h1>

<a class="btn btn-primary mb-3" href="{% url 'mailings:client_create' %}">
    Добавить клиента
</a>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>ФИО</th>
        <th>Действия</th>
    </tr>

    {% for client in clients %}
    <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.full_name }}</td>

        <td>
            <a href="{% url 'mailings:client_detail' client.id %}">Подробнее</a>

            <!-- Кнопки управления доступны только владельцу -->
            {% if client.owner == user %}
                | <a href="{% url 'mailings:client_update' client.pk %}">Редактировать</a>
                | <a href="{% url 'mailings:client_delete' client.pk %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
