{% extends 'base.html' %}
{% block title %}Рассылка{% endblock %}

{% block content %}
<h2>Рассылка #{{ mailing.id }}</h2>

<p><strong>Начало:</strong> {{ mailing.start_datetime }}</p>
<p><strong>Окончание:</strong> {{ mailing.end_datetime }}</p>
<p><strong>Статус:</strong> {{ mailing.get_status_display }}</p>
<p><strong>Сообщение:</strong> {{ mailing.message.subject }}</p>

<p><strong>Получатели:</strong></p>
<ul>
  {% for client in mailing.clients.all %}
    <li>{{ client.full_name }} ({{ client.email }})</li>
  {% empty %}
    <li>Нет получателей</li>
  {% endfor %}
</ul>

<hr>

<form method="post" action="{% url 'mailings:mailing_send' mailing.id %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">
    Отправить рассылку сейчас
  </button>
</form>

<hr>

<h3>Попытки отправки</h3>
<ul>
  {% for attempt in mailing.attempts.all %}
    <li>
      {{ attempt.created_at }} —
      {{ attempt.get_status_display }} —
      {{ attempt.server_response|default:"(нет ответа)" }}
    </li>
  {% empty %}
    <li>Попыток пока не было.</li>
  {% endfor %}
</ul>

<a class="btn btn-warning mt-3" href="{% url 'mailings:mailing_update' mailing.id %}">Изменить</a>
<a class="btn btn-danger mt-3" href="{% url 'mailings:mailing_delete' mailing.id %}">Удалить</a>
<a class="btn btn-secondary mt-3" href="{% url 'mailings:mailing_list' %}">Назад</a>
{% endblock %}
