{% extends 'base.html' %}
{% block title %}Рассылки{% endblock %}

{% block content %}
<h1>Рассылки</h1>

<a class="btn btn-primary mb-3" href="{% url 'mailings:mailing_create' %}">
    Добавить рассылку
</a>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Начало</th>
    <th>Окончание</th>
    <th>Статус</th>
    <th>Действия</th>
  </tr>

  {% for mailing in mailings %}
    <tr>
      <td>{{ mailing.id }}</td>
      <td>{{ mailing.start_datetime }}</td>
      <td>{{ mailing.end_datetime }}</td>
      <td>{{ mailing.get_status_display }}</td>
      <td>
        <a href="{% url 'mailings:mailing_detail' mailing.id %}">Подробнее</a>

        {% if mailing.owner == user %}
            | <a href="{% url 'mailings:mailing_update' mailing.pk %}">Изменить</a>
            | <a href="{% url 'mailings:mailing_delete' mailing.pk %}">Удалить</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
