{% extends 'base.html' %}
{% block title %}Сообщения{% endblock %}

{% block content %}
<h1>Сообщения</h1>

<a class="btn btn-primary mb-3" href="{% url 'mailings:message_create' %}">
    Добавить сообщение
</a>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Тема</th>
    <th>Действия</th>
  </tr>

  {% for message in messages %}
    <tr>
      <td>{{ message.id }}</td>
      <td>{{ message.subject }}</td>
      <td>
        <a href="{% url 'mailings:message_detail' message.id %}">Подробнее</a>
        {% if message.owner == user %}
            | <a href="{% url 'mailings:message_update' message.pk %}">Изменить</a>
            | <a href="{% url 'mailings:message_delete' message.pk %}">Удалить</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
